.button {
    border-radius:10px;
  }
  .bibliotheque{
      padding-bottom:100px;
      padding-top: 20px;
      padding-right: 10%;
      padding-left: 10%;
  }
  .ul_categories{
        margin-top: 60px;
       
  }
  .ul_niveau{
        margin-top: 60px;
        
  }
  .ul_school{
        margin-top:60px;
        
  }
  .biblio_card{
      padding-top: 100px;
  }
  .sticky{
    position: sticky;
  }


  @media only screen and (max-width:600px){
    .bibliotheque{
        padding-right: 2%;
        padding-left: 2%;
    }
  }